@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Contoso University!</h1>
        <p class="lead">Discover a transformative educational experience at Contoso University, where excellence meets innovation....</p>
        <p class="lead">Explore our programs, meet our faculty, and learn about the opportunities awaiting you at Contoso University.</p>
            </section>
</main>